.felix-markdown-content {
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
.felix-markdown-content .felix-markdown-link {
  font-family: inherit;
  color: #0366d6;
  text-decoration: none;
}
.felix-markdown-content .felix-markdown-link:hover {
  text-decoration: underline;
}
.felix-markdown-content .felix-markdown-link .felix-markdown-image {
  margin-right: 5px;
}
.felix-markdown-content .felix-markdown-h1 {
  font-family: inherit;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
}
.felix-markdown-content .felix-markdown-h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
}
.felix-markdown-content .felix-markdown-bold {
  font-weight: 600;
}
.felix-markdown-content .felix-markdown-h3 {
  font-size: 1.25em;
}
.felix-markdown-content .felix-markdown-h4 {
  font-size: 1em;
}
.felix-markdown-content .felix-markdown-h5 {
  font-size: 0.875em;
}
.felix-markdown-content .felix-markdown-h6 {
  color: #6a737d;
  font-size: 0.85em;
}
.felix-markdown-content .felix-markdown-h1,
.felix-markdown-content .felix-markdown-h2,
.felix-markdown-content .felix-markdown-h3,
.felix-markdown-content .felix-markdown-h4,
.felix-markdown-content .felix-markdown-h5,
.felix-markdown-content .felix-markdown-h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}
.felix-markdown-content .felix-markdown-shortcode {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
}
.felix-markdown-content .felix-markdown-quote {
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  margin-left: 0;
  padding: 0 1em;
}
.felix-markdown-content .felix-markdown-quote:first-child {
  margin-top: 0;
}
.felix-markdown-content .felix-markdown-quote:last-child {
  margin-bottom: 0;
}
.felix-markdown-content .felix-markdown-table {
  display: block;
  overflow: auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.felix-markdown-content .felix-markdown-tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.felix-markdown-content .felix-markdown-tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
.felix-markdown-content .felix-markdown-td, .felix-markdown-content .felix-markdown-th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

/*# sourceMappingURL=markdown.css.map */
